@import "bootstrap-variables";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700,800');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

img{
	max-width: 100%;
	height: auto;
}
.btn{
	font-family: $headings-font-family;
	font-weight: 700;
	text-transform: uppercase;
	// padding: 10px 40px;
	display: inline-block;
	&--white {
		background: #FFF;
	}
}
.ba-page-title {
	text-transform: uppercase;
	margin: 0 0 8px;
}
.row-no-padd {
	margin-left: 0;
	margin-right: 0;
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
.ba-intro{
	// min-height: 100vh;
	background: #fff no-repeat 50%;
	background-size: cover;
	position: relative;
	padding-bottom: 160px;
	&__title{
		margin-top: 0;
		span{
			display: inline-block;
			border: 10px solid $text-color;
			padding: 14px 36px;
			position: relative;
			font-size: 48px;
			line-height: 1;
			small{
				position: absolute;
				top: -10px;
				left: 50%;
				transform: translate(-50%, -100%);
				background: $brand-primary;
				font-size: 18px;
				padding: 7px 20px;
				text-transform: uppercase;
				color: inherit;
				font-weight: 700;
			}
		}
	}
	&__body{
		position: relative;
		z-index: 1;
		padding: 160px 0 0;
		text-align: center;
		font-size: 16px;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		z-index: 0;
		background: rgba(255,255,255,.5);
	}
	&--home{
		margin-bottom: 100px;
		padding-bottom: 0;
		&:before{
			background: rgba(255,255,255,.85);
		}
	}
}
.ba-intro-about{
	font-size: 16px;
	line-height: 1.8;
	position: relative;
	bottom: -100px;
}
.ba-title{
	position: relative;
	margin-top: 0;
	text-transform: uppercase;
	span{
		position: relative;
		z-index: 1;
		&:before{
			content: "";
			width: 67px;
			height: 21px;
			background: $brand-primary;
			position: absolute;
			left: 0;
			bottom: -4px;
			z-index: -1;
		}
	}
}
.ba-sub-title{
	text-transform: uppercase;
	margin: 25px 0 17px;
	font-weight: 800;
	font-size: 14px;
	font-family: $font-family-base;
}
.ba-top-navbar{
	padding-top: 44px;
}
.ba-main-menu{
	li{
		a{
			font-family: $headings-font-family;
			color: $text-color;
			font-weight: 700;
			text-transform: uppercase;
			&:hover, &:focus{
				color: $brand-primary;
			}
		}
	}
}
.navbar-toggle{
	padding: 0;
	.icon-bar{
		width: 31px;
		height: 1px;
		background: $text-color;
		& + .icon-bar{
			width: 15px;
			& + .icon-bar{
				width: 23px;
			}
		}
	}
}


// Sections
main{
	padding-top: 150px;
}
.ba-section{
	// margin-bottom: 150px;
	// margin-bottom: 20px;
	&--benefits{
		margin-bottom: 100px;
	}
	&__content{
		max-width: 750px;
		margin: 0 auto 100px;
		text-align: center;
	}
}
.ba-post {
	margin-bottom: 30px;
}
// Services
.ba-service{
	margin-bottom: 55px;
	&__icon{
		font-size: 36px;
		line-height: 1;
	}
	&__title {
		margin: 10px 0 10px;
		font-size: 18px;
		text-transform: uppercase;
	}
	&__list{
		padding: 0;
		margin: 0;
		list-style: none;
		color: #999;
		text-transform: uppercase;
		font-size: 14px;
		li{
			padding-top: 13px;
			line-height: 1.2;
		}
	}
}

// porfolio
.ba-portfolio-filter{
	padding: 0;
	list-style: none;
	a{
		display: inline-block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		color: $text-color;
		font-family: $headings-font-family;
		padding: 5px 20px;
		background-color: transparent;
		text-decoration: none;
		&:hover{
			background-color: $text-color;
			color: #FFF;
		}
		&:active, &.active{
			background-color: $brand-primary;
			color: #FFF;
		}
	}
}
.ba-portfolio-grid{
	margin: 0 -$grid-gutter-width/2;
	&__item{
		float: left;
		width: 33.3%;
		padding: $grid-gutter-width/2;
	}
}

@import "slick";
@import "pages/about";

.breadcrumb{
	margin: 0;
	li{
		text-transform: uppercase;
		font: 700 14px/1 $headings-font-family;
		& + li:before{
			padding: 0;
		}
		a{
			color: $text-color;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
		}
	}
}

// SUBSCRIBE
.ba-subscribe {
	background-color: #7beec7;
	@media screen and (max-width: $screen-sm-min) {
		text-align: center;
	}
	&__content {
		padding: 50px;
		h2,h3 {
			margin: 0 0 15px 0;
			line-height: 1.6;
		}
	}
	&__left {
		margin-bottom: 10px;
	}
	&__right {
		background: #FFF;
		padding: 5px 20px 20px;
		input {
			width: 100% !important;
		}
		button {
			color: #FFF;
			background-color: #7beec7;
		}
	}
}

// FOOTER
.ba-footer {
	padding: 50px 0;
	&__nav {
		display: flex;
		flex-wrap: wrap;
		@media screen and (max-width: $screen-sm-min) {
			width: 100%;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
		}
		li {
			font-size: 14px;
			text-transform: uppercase;
			color: #9a9a9a;
			a {
				display: block;
				&:hover {
					color: #555;
				}
			}
		}
	}
	&__right {
		display: flex;
		align-content: center;
		justify-content: flex-end;
		flex-wrap: wrap;
	}
	&__copyright {
		@media screen and (max-width: $screen-sm-min) {
			order: 2;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&__social-links {
		@media screen and (max-width: $screen-sm-min) {
			order: 1;
			width: 100%;
			text-align: center;
		}
		li {
			display: inline-block;
			a {
				display: block;
				opacity: 0.6;
				&:hover {
					opacity: 0.9;
					//color: #555;
				}
				img {
					width: 20px;
					height: 20px;

				}
			}
		}
	}
}

// SIDEBAR

.ba-search-form {
	&__search-text {
		position: relative;
		display: block;
	}
	&__search-btn {
		position: absolute;
		right: 20px;
		top: 0;
		background: transparent;
		&:after {
			content: "\635C";
		}
	}
}

.ba-sidebar {
	.nav-tabs {
		li {
			width: 33.3%;
			a {
				padding: 5px;
				text-align: center;
			}
		}
	}
}
//TABS
.tab-content {
	font-size: 0;
	ul{
		padding: 0;
		list-style-type: none;
		padding-top: 10px;
		li {
			vertical-align: middle;
			a {
				padding-bottom: 10px;
				display: block;
				color: #222;
				text-decoration: none;
				transition: color .4s;
				&:hover {
					color: #7beec7;
				}
			}
		}
	}
	&__img {
		// float: left;
		vertical-align: middle;
		display: inline-block;
		width: 30%;
	}
	&__desc {
		// float: left;
		padding-left: 5px;
		vertical-align: middle;
		display: inline-block;
		width: 70%;
		h4 {
			margin: 0;
		}
	}
}

// CATEGORIES
.ba-categories {
	padding: 10px 0;
	&__list {
		padding: 0;
		list-style-type: none;
	}
	&__list-item {
		display: block;
		border-bottom: 1px solid #777;
		color: #999;
		position: relative;
		padding: 10px 0;
		&:hover {
			text-decoration: none;
		}
		span {
			position: absolute;
			right: 0;
		}
	}
}

// TAGS
.ba-tags {
	a {
		display: inline-block;
		padding: 10px 20px;
		background-color: #ccc;
		margin: 0 10px 10px 0;
		color: #FFF;
		&:hover {
			text-decoration: none;
			color: #333;
		}
	}
}

// ARCHIVES
.ba-archives {
	padding: 10px 0;
	&__list {
		padding: 0;
		list-style-type: none;
	}
	&__list-item {
		display: block;
		border-bottom: 1px solid #777;
		color: #999;
		position: relative;
		padding: 10px 0;
		&:hover {
			text-decoration: none;
		}
		span {
			position: absolute;
			right: 0;
		}
	}
}


@import "pages/_blog.scss";
