footer.ba-footer
	.container
		.row.row-no-padd
			.col-sm-6.col-xs-12.ba-footer__left
				ul.nav.navbar-nav.ba-footer__nav
					li
						a(href="#") Home
					li
						a(href="#") About us
					li
						a(href="#") Services
					li
						a(href="#") Portfolio
					li
						a(href="#") Blog
					li
						a(href="#") Contact us
			.col-sm-6.col-xs-12.ba-footer__right
				.ba-footer__copyright
					p
						| Created by akhouad 2016. All Rights Reserved
				.ba-footer__social-links
					ul.nav.navbar-nav
						li
							a(href="#")
								img(src="assets/images/social/facebook.svg", alt="f")
						li
							a(href="#")
								img(src="assets/images/social/twitter.svg", alt="t")
						li
							a(href="#")
								img(src="assets/images/social/youtube.svg", alt="y")
						li
							a(href="#")
								img(src="assets/images/social/linkedin.svg", alt="l")
						li
							a(href="#")
								img(src="assets/images/social/chrome.svg", alt="")
						li
							a(href="#")
								img(src="assets/images/social/instagram.svg", alt="")

