nav.navbar.ba-top-navbar
	.container
		//- Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='index.html')
				img(src='assets/images/logo.png', alt='AKAD.')
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.ba-main-menu.nav.navbar-nav.navbar-right
				li.active
					a(href='index.html') Home
				li
					a(href='about.html') About
				li
					a(href='blog.html') Blog
				li
					a(href='services.html') Services
				li
					a(href='contacts.html') Contatcs
		// /.navbar-collapse
	// /.container-fluid
