article.ba-post
	a.ba-post__img(href="#")
		img(src="assets/images/posts/post-img.jpg", alt="The big leagues our turn straightnin")
	.ba-post__meta
		//- date
		time.ba-post__date(datetime="2015-10-13")
			| October 13, 2015
		//- comments
		.ba-post__comments
			i.ion-chatbox-working
			| 8
		.ba-post__likes
			i.ion-ios-heart
			| 15
	h2.ba-post__title
		a(href="#")
			| The big leagues our turn straightnin
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	a.ba-post__readmore(href="#")
		| Continue reading
