section.ba-section.ba-subscribe
	.container
		.row.ba-subscribe__content
			.col-sm-6.ba-subscribe__left
				h2 YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				a(href="#" class="btn btn--white") Get in touch
			.col-sm-6.ba-subscribe__right
				form(action="", method="POST" class="form-inline")
					h3 STAY INFORMED WITH OUR NEWSLETTER
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					.row.row-no-padd
						.form-group.col-sm-8
							input(type="text", placeholder="your email")
						.form-group.col-sm-4
							button(type="submit", style="width: 100%;" class="form-btn btn") SEND



